@import "colors/noir.css";

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font Propo", "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
}
/* Pill default state */
#wlr-taskbar,
#workspaces,
#taskbar,
#clock,
#custom-sysinfo,
#power-profiles-daemon,
#pill-right,
#pill-right2,
#custom-power,
#custom-fetch,
#custom-launcher,
#custom-upower,
#custom-updates,
#custom-brightness {
    font-size: 16px;
    background-color: @bg_soft;
    color: @fg_main;
    border-radius: 99px;
    padding: 2px 12px;
    margin: 0px 4px;
    border: 1px solid @border_inact;
    transition: all 300ms ease-in-out;
}

/* Pill hover state */
#wlr-taskbar:hover,
#workspaces:hover,
#taskbar:hover,
#clock:hover,
#custom-sysinfo:hover,
#power-profiles-daemon:hover,
#pill-right:hover,
#pill-right2:hover,
#custom-power:hover,
#custom-fetch:hover,
#custom-launcher:hover,
#custom-upower:hover,
#custom-updates:hover,
#custom-brightness:hover   {
    background-color: @bg_hover;
    border: 1px solid @border-dim;
}

/* Pill active style */
#wlr-taskbar:active,
#workspaces:active,
#taskbar:active,
#clock:active,
#custom-sysinfo:active,
#power-profiles-daemon:active,
#pill-right:active,
#pill-right2:active,
#custom-power:active,
#custom-fetch:active,
#custom-launcher:active,
#custom-upower:active,
#custom-updates:active,
#custom-brightness:active {
    background-color: @fg_main;
    color: @bg_hard;
    transition: 0ms;
}

/* Network */
#pill-right>widget {
    padding: 0px 8px;
}

#pill-right #network {
    margin-right: 15px;
}

#pill-right #network,
#pill-right #bluetooth {
    color: @fg_main;
    background: transparent;
    padding: 0 5px;
}

#pill-right #bluetooth.off,
#pill-right #bluetooth.disabled,
#pill-right #network.disconnected {
    color: @fg_dim;
    background: @bg_soft;
    border-radius: 4px;
}

/* Audio */
#pill-right2 #custom-media{
    margin-right: 15px;
}

#pill-right2 #pulseaudio.microphone{
    margin-right: 15px;
}

#pill-right2 #wireplumber {
    margin-right: 15px;
}

#pill-right2 #pulseaudio-slider {
    padding: 0;
    margin: 0;
}

#pill-right2 #pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pill-right2 #pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: black;
}

#pill-right2 #pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @fg_main;
}

/* Workspaces */
#workspaces button {
    color: @fg_dim;
    background: transparent;
    border-radius: 99px;
    padding: 0px 6px;
    margin: 0px 2px;
    transition: all 300ms ease-in-out;
}

#workspaces button:hover {
    background-color: @bg_hover;
    color: @fg_main;
}

#workspaces button.active {
    background-color: @fg_main;
    color: @bg_hard;
    min-width: 24px;
    transition: all 300ms ease-in-out;
}

#workspaces button.active:hover {
    background-color: @fg_main;
    color: @bg_hard;
}

/* Taskbar */
#taskbar button {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 4px 8px;
    margin: 0;
    transition: all 200ms ease-in-out;
    border-radius: 99px;
}

#taskbar button.active {
    background-color: @bg_hover;
    color: @bg_hard;
    border: none; 
    padding: 4px 8px; 
}

#taskbar button:hover {
    background-color: @bg_hover;
    border: none;
}

#taskbar.empty {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    min-width: 0;
}

/* Upower */
#custom-upower.empty {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    min-width: 0;
}

#custom-upower {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Update Packages */
#custom-updates.empty {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    min-width: 0;
}

/* Tooltip */
tooltip {
    background: @bg_soft;
    border: 1px solid @border_inact;
}

tooltip label {
    color: @fg_main;
}
